# ---- Python ----
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so

#  Virtual environment
.venv/
venv/
venv311/
.venv311/
env/

#  IDE (PyCharm / VSCode / etc.)
.idea/
.vscode/

#  Logs / temp
*.log
*.tmp

#  Project configs
config/cookies.pkl
config/Credentials_wialon.json
config/selected_data.json
config/Id_car.json
config/datasets/addresses.jsonl
config/Обновленный РЕЕСТР ПИН ТОПЛИВНЫЕ КАРТЫ.xlsx
config/pincodes_cache.json
LogistX/config/logistx_sample.json
LogistX/config/sites_db.json
!Navigation_Bot/config/*.example.json

#  System
.DS_Store
Thumbs.db


LogistX/assets/
LogistX/tmp/
Other/
Mll/
ollama_client/
pdf/
trash/
config/

/config/datasets/
/main.spec
