# ---- Python ----
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so

#  Virtual environment
.env
.venv/
venv/
venv311/
.venv311/
env/

#  IDE (PyCharm / VSCode / etc.)
.idea/
.vscode/

#  Logs / temp
*.log
*.tmp

#  Project configs
/history

/config/media/
/config/datasets/

/text
/config/Id_car.json
/config/cookies.pkl
/config/pincodes_cache.json
/config/pin_card_images/
/config/navigation_bot.db
/config/ui_settings.json
/config/Credentials_wialon.json
/config/Обновленный РЕЕСТР ПИН ТОПЛИВНЫЕ КАРТЫ.xlsx
!Navigation_Bot/config/*.example.json
/Navigation_Bot/core/infrastructure/api/log
LogistX/config/logistx_sample.json
LogistX/config/sites_db.json
LogistX/assets/
LogistX/tmp/

LogistX/Tesseract-OCR
scripts

/main.spec


#  System
.DS_Store
Thumbs.db


